*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

/* Menu superior */

header{

    position: relative;
    display: flex;
    padding: 20px;
    background-color: white;
    z-index: 1000;
}

header ul {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
}

header .logo{
    margin-top: 10px;
}

header ul li{
    
}

header ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}

header ul li a:hover{
    padding-bottom: 30px;
    border-bottom: 2px solid green;
}


.menu {
    margin-left: auto;
    margin-right: auto;
}

header .btn{
    margin-top: -9  px;
}

.btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 20px;
    padding: 10px;
}

.btn:hover{
    background-image: linear-gradient(to right, hsl(136, 81%, 66%), hsl(192, 71%, 58%))
}

.btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Fim menu superior */

/* one-section */

section.one-section {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.one-section .infos{
    margin-top: 150px;
}

section.one-section .infos h2{
    color: hsl(233, 26%, 24%);
    padding-bottom: 30px;
    font-size: 41px;
}

section.one-section .infos p{
    color: gray;
    padding-bottom: 20px;
}

section.one-section .img img{
    position: relative;
    width: 600px;
    right: -50px;
    z-index: 1;
}
section.one-section .img{
    background-position: -70px;
    background-image: url(img/bg-intro-desktop.svg);
    
    display: flex;
    justify-content: center;
    right: -240px;
    position: relative;
    margin-top: -100px;
    z-index: 1;
    
}

/* Fim one-section */

/* Inicio second-section */

section.second-section{
    
}
section.second-section .infos{
    padding: 60px;
    margin-left: 80px;

}

section.second-section .infos h2{
    color: hsl(233, 26%, 24%);
    padding-bottom: 30px;
    font-size: 41px;
}

section.second-section .infos p{
    color: gray;
    padding-bottom: 20px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 300px;
    padding: 20px;
    max-width: 280px;
}

.box img{
    padding-bottom: 20px;
}

.box h3 {
    color: rgb(68, 68, 68);
    padding-bottom: 20px;
    
}

.box p {
    color: gray;
}

/* Fim second-section */

/* Inicio three-section */

section.three-section{
    margin-top: 100px;
        background-color: hsl(0, 0%, 98%);
}

section.three-section h2{
    margin-left: 135px;
    color: hsl(233, 26%, 24%);
}

section.three-section .boxes{
    
}

section.three-section .boxes .box{
    height: 450px;
    background-color: white;
}
section.three-section .boxes .box img{
    width: 100%;
}

section.three-section .boxes .box h4 {
    color: rgb(68, 68, 68);
    padding-bottom: 20px;
    
}

section.three-section .boxes .box p {
    color: gray;
}

@media screen and (max-width: 1016px) {
    section.one-section{
        height: 900px;
    }
    section.one-section .img{
        float: top;
        right: 0px;
        top: -950px;
    }
    section.one-section .infos{
        margin-top: 600px;
    }
}

@media screen and (max-width: 780px){
    header ul{
        display: none;
    }
    header .btn {
        display: none;
    }
}